{% extends 'base.html.twig' %}

{% block title %}Brand{% endblock %}

{% block body %}
<div class="container">
    <h1>Brand Management</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Origin</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for brand in brands %}
            <tr>
                <td>{{ brand.id }}</td>
                <td>{{ brand.name }}</td>
                <td>{{ brand.Origin }}</td>
                <td>
                    <button class="btn btn-primary" >
                        <a href="{{ path('app_brand_show', {'id': brand.id}) }}" style="color: white">Show</a>
                    </button>
                    <button class="btn btn-primary" >
                        <a href="{{ path('app_brand_edit', {'id': brand.id}) }}"style="color: white">Edit</a>
                    </button>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-primary" >
        <a href="{{ path('app_brand_new') }} "style="color: white">Create new</a>
    </button>
</div>
{% endblock %}
