{% extends 'base.html.twig' %}

{% block title %}Product Manage{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Product Management</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Weight</th>
            <th>Image</th>
            <th>Brand</th>
            <th>actions</th>
        </tr>
        </thead>
        <body>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.weight }}</td>
                <td> <img class="card-img-top"
                          src="{{ asset(product.image) }}" alt="Card image"with=50px; height=50px> </td>
                <td>{{ product.brand.name }}</td>
                <td>
                    <button class="btn btn-primary" >
                        <a href="{{ path('app_product_show', {'id': product.id}) }}" style="color: white">Show</a>
                    </button>
                    <button class="btn btn-primary" >
                        <a href="{{ path('app_product_edit', {'id': product.id}) }}" style="color: white">Edit</a>
                    </button>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </body>
    </table>

    <a href="{{ path('app_product_new') }}">Create new</a>
</div>

{% endblock %}
